<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
</head>
<body>

<h1>TODO</h1>

<p>register</p>
<form method="POST" th:action="@{/register}" th:object="${TodoForm}">
  <label for="title">title</label>
  <input id="title" type="text" name="title">

  <label for="date">deadline</label>
  <input id="date" type="date" name="deadline">

  <button type="submit">submit</button>
</form>

<div th:each="todo: ${todoList}">
  <p th:text="${todo.title}"></p>
  <form th:action="@{/update/{id}(id=${todo.id})}" method="POST">
    <label for="title">title</label>
    <input id="title" type="text" name="title">

    <label for="date">deadline</label>
    <input id="date" type="date" name="deadline">
    <button type="submit">submit</button>
  </form>
  <form th:action="@{/done/{id}(id=${todo.id})}" method="post">
    <input type="hidden" name="_method" value="patch">
    <button type="submit">
      <span th:if="${todo.status}">not doen</span>
      <span th:unless="${todo.status}">done</span>
    </button>
  </form>
  <form th:action="@{/delete/{id}(id=${todo.id})}" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">delete</button>
  </form>
</div>

</body>
</html>