<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
</head>
<body>

<h1>TODO</h1>

<p>register</p>
<form method="POST" th:action="@{/register}" th:object="${TodoForm}">
  <label for="title">title</label>
  <input id="title" type="text" name="title">

  <label for="date">deadline</label>
  <input id="date" type="date" name="deadline">

  <button type="submit">submit</button>
</form>

<div th:each="todo: ${todoList}">
  <p th:text="${todo.title}"></p>
</div>

</body>
</html>